{# todo check this #}
{# captcha v3 #}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
<script>
    // 3
    grecaptcha.ready(function () {
        // 4
        $('#contactform').submit(function (e) {
            var form = this;
            // 5
            e.preventDefault()
            grecaptcha.execute('reCAPTCHA_site_key', {action: 'contactform'}).then(function (token) {
                // 6
                $('#recaptcha').val(token)
                // 7
                form.submit()
            });
        })
    });
</script>