{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'inc/_headerReferences.html' %}
    <title>Todo</title>
</head>

<body class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="bg-light app-header">
    <a class="app-header__logo" href="{% url 'Todo:todo' %}">Todo</a>

    <ul class="app-nav d-flex justify-content-between align-items-center px-4">
        <li class="nav-item username"><i class="fa-solid fa-user pr-2 username-icon"></i>Hi {{ user.username }} !</li>
        <li class="nav-item navbar-brand"><a href="{% url 'Todo:logout' %}"><i
                class="fa-solid fa-arrow-right-from-bracket text-danger"></i></a></li>

    </ul>
</header>

<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                    <i class="fas fa-check-square me-1"></i>
                    <u>My Todo-s</u>
                </p>
                <div class="pb-2">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" id="add-tasks"
                                  class="d-flex flex-row justify-content-between align-items-center input-group">
                                {% csrf_token %}
                                <input type="text" class="form-control form-control-lg border-0" name="text"
                                       autocomplete="" id="text" placeholder="Task...">
                                <div class="col-3 d-flex justify-content-between align-items-center">
                                    <select class="form-control mr-3" name="priority" id="priority">
                                        <option selected value="Low">Low priority</option>
                                        <option value="Middle">Middle priority</option>
                                        <option value="High">High priority</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary px-4 py-2">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <h3 class="tile-title"><i class="fas fa-tasks text-muted mr-2"></i>Task List</h3>
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th class="col-1">#</th>
                            <th class="col-5 text-left">Task</th>
                            <th class="col-2 text-left">Priority</th>
                            <th class="col-3">Date</th>
                            <th class="col-1">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="task-list">

                        {% for task in tasks %}
                            <tr>
                                <td>
                                    <div class="animated-checkbox">
                                        <label>
                                            <input type="checkbox"><span class="label-text"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class=" text-left">{{ task.text }}</td>
                                <td class="text-left"><span
                                        class="badge text-light p-2
                                        {% if task.priority == 'Low' %} bg-success
                                        {% elif task.priority == 'Middle' %} bg-warning
                                        {% elif task.priority == 'High' %} bg-danger
                                        {% endif %}">{{ task.priority }} priority</span>
                                </td>
                                <td>{{ task.date|date:"SHORT_DATE_FORMAT" }} {{ task.date|time:"H:i" }}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a href="#" class="action"><i class="fa-solid fa-pen text-info mr-3"></i></a>
                                        <a href="#" class="action"><i
                                                class="fa-solid fa-trash-can text-danger "></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</main>
{% include 'inc/_footerRefernces.html' %}
<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>