{% load static %}

<script src="{% static 'js/plugins/pace.min.js' %}"></script>
<script src="{% static 'fonts/Web/js/all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap-notify.min.js' %}"></script>

{% if messages %}

    {% for message in messages %}
        <script>

            $.notify({
                title: "Message : ",
                message: "{{ message }}",
                icon:
                    {% if message.tags == 'success' %}"fa-solid fa-check mr-2"
                        {% elif message.tags == 'warning' %}"fa-solid fa-exclamation mr-2"
                        {% elif message.tags == 'error' %}"fa-solid fa-xmark mr-2"
                    {% else %} "fa-solid fa-message-dots mr-2"
                    {% endif %}
            }, {
                type: {% if message.tags == 'success' %}"success"
                    {% elif message.tags == 'warning' %}"warning text-dark"
                    {% elif message.tags == 'error' %}"danger"
                {% else %} "info"
                {% endif %},
            });

        </script>
    {% endfor %}
{% endif %}